$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  height: 40px;
  left: 0;
  margin-top: 10px;
  padding-top: 7px;
  position: fixed;
  text-align: center;
  width: 100%;
}

h3 {
  color: #dfdfdf;
}

.menu {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.view2 {
  display: none;
}

.content-button {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 15px;
}

.player-button {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
}

.settings1 {
  background-color: #4e4e4e;
  border: 5px solid grey;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;
}

.settings2 {
  background-color: #4e4e4e;
}

.settings3 {
  background-color: #dfdfdf;
}

.scrollable {
  height: auto;
  max-height: 250px;
  overflow-x: hidden;
}

#menu-title {
  display: inline;
  font-size: 40px;
}
